body {background-image: linear-gradient(to right,rgb(219, 219, 219),rgb(219, 219, 219));
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 70%;
    overflow-x: hidden;
    margin:auto;}
    h1   {color: white;
        background-color:#050D46;
    text-align: center;
    border-radius:10px;
    }
    h3   {color: #050D46;}
    h2   {color: #050D46;}
    em   {color: black;}
    li   {color: black;}
    p    {color: black;
    text-align: justify;
    max-width: 1000px;}
    dd   {color: black;}
    dt   {color: black;}
    li   {color: black;} 
    a {color: rgb(0, 0, 133);}
input {background-color: rgb(122, 118, 255);}
